header {
  padding: 0 3vw;
  background: rgb(61, 152, 255);
  width: 100%;
  height: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 2rem;
    font-weight: 500;
  }
  .menu {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    gap: 1rem;
  }
}
